{% load static %}

<div class="header-h1 col-12 mb-0 shadow-lg p-0 mb-1 mt-1 rounded header-h1">
				<img class="rounded float-left" width="100px" height="100px" src="{% static 'img/logo.png' %}"/><strong><h2 class="font-weight-bolder text-uppercase text-sm-center text-success col-12 header-h3">Ishbilarmonlik muhiti kuzatuvlari va tadbirkorlikni rivojlantirish statistikasi boshqarmasi</h2></strong>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<marquee title="Sayt loyixasi bo'yicha dinamik ma'lumotlar" behavior="direction" loop="3" scrollamount="4" scrolldelay="3" style="padding-left:1px; margin-left:1px;"><span style="font-size: 18px; font-style:bold; font-family:Tahoma, Geneva, sans-serif; color:#330099; color:#00BB00;"><strong>Ayni paytda <a class="animat1" href="http://127.0.0.1/svod/word.php">Qishloq xo'jaligi</a> sayti loyihasi bazasida yangiliklar soni <a class="animatqw"><!--<?php echo $stat_news2[0]; ?>-->25</a> tani, fayllar soni <a class="animatqw"><!--<?php echo $stat_news2[2]; ?>-->124</a> tani tashkil qilmoqda.  Hozirgacha saytga tashrif buyurganlar soni <a class="animatqw">54<!--<?php echo $stat_news2[1]; ?>--></a> nafar.</strong></span></marquee>
		</div>
	</div>
</div>