{% load news_tags %}

{% comment %}d asdasd

<div class="col-3">
{% get_list_categories as category %}
				<div class="list-group align-top shadow-lg mb-3 mt-3 bg-white rounded">
					<a href="#" class="list-group-item list-group-item-action active font-weight-bold text-center">Qishloq xo'jaligi</a>
					{% for item in category %}
					<a href="/category/{{ item.pk }}" class="list-group-item list-group-item-action text-dark">{{ item.title }}</a>
					{% endfor %}
				</div>
</div>
<br>
{% endcomment %}
{% show_categories %}
