<div class="col-3">
	<div class="list-group align-top shadow-lg p-0 mb-3 mt-3 bg-white rounded">
		<a href="fermer.php" class="list-group-item list-group-item-action active font-weight-bold text-center bg-success">Fermer xo'jaligi hisobotlari</a>
		<a href="http://127.0.0.1/fermer/fermer2020.php" class="list-group-item list-group-item-action text-dark">2020 yil uchun yillik</a>
		<a href="http://127.0.0.1/fermer/fermer2019.php" class="list-group-item list-group-item-action text-dark">2019 yil uchun yillik</a>
		<a href="http://127.0.0.1/fermer/fermer2018.php" class="list-group-item list-group-item-action text-dark">2018 yillik</a>
	</div>

	<div class="list-group align-top shadow-lg p-0 mb-3 mt-3 bg-white rounded">
		<a href="bulliten.php" class="list-group-item list-group-item-action active font-weight-bold text-center">Ko'rsatkichlar</a>
		<a href="bulliten.php" class="list-group-item list-group-item-action text-dark">Bulliten</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">YaHM</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Texnika</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Ekin maydon</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Chorva</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">O'g'it</a>
		<a href="#" class="list-group-item list-group-item-action">Boshqa jadvallar</a>
	</div>
	<div class="list-group align-top shadow-lg p-0 mb-3 mt-3 bg-white rounded">
		<a href="hisobot.php" class="list-group-item list-group-item-action active font-weight-bold text-center">Hisobot</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Fermer</a>
		<a href="#" class="list-group-item list-group-item-action">Qishloq xo'jaligi</a>
		<a href="#" class="list-group-item list-group-item-action">Paxta</a>
		<a href="#" class="list-group-item list-group-item-action">G'alla</a>
		<a href="#" class="list-group-item list-group-item-action">Pilla</a>
		<a href="#" class="list-group-item list-group-item-action">Dehqon</a>
		<a href="#" class="list-group-item list-group-item-action disabled">Ekologiya</a>
	</div>
	<div class="list-group align-top shadow-lg p-0 mb-3 mt-3 bg-white rounded">
		<a href="#" class="list-group-item list-group-item-action active font-weight-bold text-center">Dehqonchilik</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Me'yoriy hujjatlar</a>
		<a href="#" class="list-group-item list-group-item-action text-dark">Soni</a>
		<a href="#" class="list-group-item list-group-item-action">Ko'rsatkichlar</a>
	</div>
</div>