{% extends 'sayt/ekologiya.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block header %} {% include 'sayt/blocks/header.html' %} {% endblock %}
{% block menyu %} {% include 'sayt/blocks/menyu.html' %} {% endblock %}
{% block left %} {%comment%} {% include 'sayt/blocks/left.html' %}{%endcomment%}{% include 'inc/_sidebar.html' %} {% endblock %}
{% block content %}

<h1 class="text-center">{{title}}</h1>

   {% for item in news %}
<div class="card-group">
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">Kategoriyasi: {{ item.category }}</div>
        {% if item.photo.url is null %}
        <img src="{{ item.photo.url }}" class="img-fluid card-img-top img-thumbnail rounded float-left" alt="..." width="150px" height="150px">
        {% else %}
        <img src="{% static 'stat/noimg.jpg' %}" class="col-6 img-fluid card-img-top img-thumbnail rounded float-left" alt="..." width="150px" height="150px">
        {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">
        <div>
            <p>{{ item.content }}</p>
        </div>
         <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>

    </div>
         <div class="card-footer bg-secondary text-white"><small class="text-white">Created at {{ item.created_at|date:"H:i d.m.Y" }}</small></div>
    </div>
</div>

    {% endfor %}
{% endblock %}
{% block right %} {% include 'sayt/blocks/right.html' %} {% endblock %}
{% block footer %} {% include 'sayt/blocks/footer.html' %} {% endblock %}