{% extends 'project/ekologiya.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>


<div class="container">


<div>111111</div>

<div class="container mt-2">
    <div class="row">


       <div class="col-3">
           <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action active">
                    Yangiliklar
                  </a>{% for item in category %}
                  <a href="#" class="list-group-item list-group-item-action">{{ item.title }}</a>

               {% endfor %}
               <a href="#" class="list-group-item list-group-item-action disabled">Disable</a>
           </div>



       </div>

        <div class="col-6">






            {% for item in ekologiya %}


              <div class="card col-12">
                <img height="100px" width="80px" class="card-img-top" src="../../media/{{ item.photo }}" alt="{{ item.photo }}">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text"><b>{{ item.category }}</b>-{{ item.content }}</p>
                  <p class="card-text"><small class="text-muted">{{ item.created_at }}</small></p>
                </div>
              </div>

            {% endfor %}
        </div>

        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active">Yangiliklar</li>
                {% for item in menyu %}
              <li class="list-group-item">{{ item.title }}</li>
            {% endfor %}</ul>
        </div>

    </div></div></div>

</body>
</html>