{% extends 'sayt/ekologiya.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block header %} {% include 'sayt/blocks/header.html' %} {% endblock %}
{% block menyu %} {% include 'sayt/blocks/menyu.html' %} {% endblock %}
{% block left %} {% include 'inc/_sidebar.html  ' %} {% endblock %}
{% block content %}

<h1 class="text-center">{{title}}</h1>
   {% for item in news %}
<div class="card-group">
    <div class="card mb-3">
        <div class="card-header bg-primary text-white"><sher class="text-secondary">Yangilik turi: </sher> {{ item.category }}</div>

    <div class="card-body">
        <div class="media col-6">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" class="img-fluid card-img-top img-thumbnail rounded float-left" alt="{{ item.title }}">
            {% else %}
            <img src="{% static 'stat/noimg.jpg' %}" class="img-fluid card-img-top img-thumbnail rounded float-left" alt="..." width="150px">
            {% endif %}
        </div>
        <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">
        <div>
            <p>{{ item.content }}</p>
        </div>
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">to'liq o'qish...</a>
    </div>
         <div class="card-footer bg-secondary text-white"><small class="text-white">Kiritilgan sanasi {{ item.created_at|date:"H:i d.m.Y" }}</small></div>
    </div>
</div>
    {% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination pagination-md text-center">
      {% for page in paginator.page_range %}
      {% if page == news.number %}
    <li class="page-item active" aria-current="page">
        <span class="page-link">{{page}}</span>
    </li>
      {% else %}
    <li class="page-item"><a class="page-link" href=" ?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}

  </ul>
</nav>
{% endblock %}
{% block right %} {% include 'sayt/blocks/right.html' %} {% endblock %}
{% block footer %} {% include 'sayt/blocks/footer.html' %} {% endblock %}